/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


/* common */
:root {
    --back-ground-color-1: #009688;
    --background-coloror-2: #DADBD4;
    --header-color: #EAEAEA;
    --notification-color: #8EDAFC;
    --message-send-color: #D5F9BA;
    --footer-color: #F3EEEA;
    --icons-color: #B1B1B1;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: var(--back-ground-color-1);
    background: linear-gradient( #009688 25%, #DADBD4 25%);
    padding-top: 20px;
}
/* /common */

/* utilities */
/* /utulities */

/* container */
.container {
    width: 80%;
    height: 95%;
    margin: 0 auto;
    background-color: white;
    display: flex;
}
/* /container */

/* contacts */
.contacts {
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.header {
    height: 60px;
}
#header-contacts {
    background-color: var(--header-color);
}

.notifications {
    background-color: var(--notification-color);
    height: 65px;
}

.search {
    background-color: var(--header-color);
    padding: 10px 10px;
}
.search-bar {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.message-contacts {
    background-color: white;
    padding: 10px 0;
    overflow-y: scroll;
    flex-basis: 100%;
}
/* /contacts */

/* message */
.message {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header-message {
    background-color: var(--header-color);
    border-left: 1px solid var(--icons-color);
}

.columns {
    width: 100%;
    flex-basis: 100%;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}
.col:nth-child(1){ 
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.right-message {
    width: 60%;
    background-color: var(--message-send-color);
    border-radius: 10px;
    /* debug */
    height: 80px;
}

.col:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.col:nth-child(n) {
    padding: 15px 40px;
}

.left-message {
    width: 60%;
    background-color: white;
    border-radius: 10px;
    /* debug */
    height: 90px;
}

footer {
    background-color: var(--footer-color);
    border-left: 1px solid var(--icons-color);
}

.message-footer {
    width: 75%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 5px;
}

.message-bar-footer {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
}
/* /message */