/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


/* common */
:root {
    --back-ground-color-1: #009688;
    --background-coloror-2: #DADBD4;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: var(--back-ground-color-1);
    background: linear-gradient( #009688 25%, #DADBD4 25%);
}
/* /common */

/* utilities */
/* /utulities */